@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
p {
  color: #000;
}
.heading {
  position: absolute;
  margin-top: 15px;
  top: 0;
  left: 50;
  font-family: 'Noto Sans Display', sans-serif;
  text-align: center;
}
.heading > h1 {
  padding: 10px;
  border: 1px solid black;
  border-radius: 9px;
}
.heading > p {
  color: red;
  text-transform: uppercase;
}
.swiper-container {
  position: relative;
  width: 70%;
  cursor: pointer;
}
.swiper-slide {
  transition: all 1000ms linear;
  transform: scale(0.75);
}
.swiper-slide-active {
  transform: scale(1);
}
.image-container {
  width: auto;
  height: 350px;
  border-radius: 9px;
  box-shadow: 10px 12px 41px -6px         rgba(132,132,132,0.62);
-webkit-box-shadow: 10px 12px 41px -6px rgba(132,132,132,0.62);
-moz-box-shadow: 10px 12px 41px -6px rgba(132,132,132,0.62);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 9px;
}

.next-image {
  position: absolute;
  right: 0;
  top: 40%;
  cursor: pointer;
}
.previous-image {
  position: absolute;
  left: 0;
  top: 40%;
  cursor: pointer;
}

.pagination {
  padding: 10px;
  border: 1px solid black;
  border-radius: 6px;
  z-index: 0;
}
.res {
  display: none;
  height: 100vh;
  width: 100%;
  background-color: white;
  text-align: center;
  z-index: 0;
  margin: auto;
  font-family: 'Noto Sans Display', sans-serif;
}
.res > h1 {
  margin-top: 40vh;
}
.res > p {
  color: red;
}

@media (max-width:950px) {
  .hide {
    display: none;
  }
  .res {
    display: block;
  }
}